body{
    background-color:#003366;
    /* background-color: #fff; */
    /* background-image: url("./assets/background.jpg");
    background-repeat: repeat;
    background-size:contain; */
    color: white;
}